.informacoes {
    margin-top: 60px;
    font-size: 20px;
}

.informacoes p {
    margin: 0 300px;
}

img {
    margin-top: 20px;

    border-radius: 10px;
}

@media screen and (max-width: 800px) {
    main {
        grid-template-columns: 1fr;
    }

    .informacoes p {
        margin: 0 30px;
    }
}
